<div id="current" class="default">
    <p>Determining your location. Click "Allow" when prompted.</p>
		<noscript><span class="error">Please enable Javascript and refresh your browser</strong></noscript>
	</div>
	
	<div id="content"></div>

	<br />
  <%= render :partial => 'incidents/search' %>

<script type="text/javascript" language="Javascript">
  function initialize()
  {
  	if(geo_position_js.init())
  	{
  		document.getElementById('current').innerHTML="Obtaining location, please wait...";
  		geo_position_js.getCurrentPosition(show_position,function(){document.getElementById('current').innerHTML="Sorry, couldn't get your location. Type a location."},{timeout: 8000});
  	}
  	else
  	{
  		document.getElementById('current').innerHTML="Your browser does not provide physical location. Enter an address.";
  		document.getElementById('current').className="error";
  	}
  }

  function show_position(p)
  {
  	document.getElementById('current').innerHTML="<strong>Location identified.</strong> Showing incidents.";
    window.location.href = '<%= incidents_url %>?lat=' + p.coords.latitude + '&lng=' + p.coords.longitude;
  }
  initialize();
</script>