<% content_for :title do %>Seattle police & fire dispatch emergencies near you<% end %>

<strong>Seattle police & fire emergencies happening right now, from your phone or computer.</strong>

<br /><br />

<div id="current">
  <p>Determining your location. Click "Allow" if prompted.</p>
	<noscript><span class="error">Please enable Javascript and refresh your browser</strong></noscript>
</div>

<%= render :partial => 'emergencies/search' %>

<script type="text/javascript" language="Javascript">
  function initialize()
  {
  	if(geo_position_js.init())
  	{
  		document.getElementById('current').innerHTML="Trying to obtain your location, please wait...";
  		geo_position_js.getCurrentPosition(show_position,function(){document.getElementById('current').innerHTML="Sorry, couldn't find your location. Enter a location below."},{timeout: 4000});
  	}
  	else
  	{
  		document.getElementById('current').innerHTML="Your browser does not provide physical location. Enter a location below.";
  		document.getElementById('current').className="error";
  	}
  }

  function show_position(p)
  {
    var new_url = '<%= emergencies_url %>?lat=' + p.coords.latitude + '&lng=' + p.coords.longitude;
  	document.getElementById('current').innerHTML='<font size=+1>Location identified. <strong><a href="' + new_url + '">Click here for nearby emergencies!</a></strong></font>';
  }
  initialize();
</script>