<br />
<strong>How's This Work?</strong>
<br /><br />
RubbrNeckr aggregates police, fire, and aid unit dispatch info as soon as it's online, and makes it easy to access wherever and whenever you are.

<br /><br />

<strong>What Can I do?</strong>
<ul>
  <li><strong>Police car siren going off down the street?</strong> Pull out your phone and hit <%= link_to 'rubbrneckr.com', 'http://rubbrneckr.com/' %> to learn what's happening. With iPhones and most Android phones, you'll be instantly located - no need to enter an address.</li>

  <li><strong>Stay aware of crime near your house or office.</strong> Enter an address, and on the dispatch listing, click the Subscribe to RSS link to read nearby dispatches in your favorite news reader.</li>

  <li><strong>Add to Home Screen on iPhones</strong>. Go to <%= link_to 'rubbrneckr.com', 'http://rubbrneckr.com/' %> and hit the iPhone's Bookmark (+) button, then "Add to Home Screen." Whenever you're wondering about an emergency dispatch, just hit the giraffe rubbernecking icon: <%= image_tag 'iphone_icon.jpg', :size => '32x32' %></ol>  

  <li><strong>On the bus and see an arrest in progress?</strong>  Answer your curiosity right there.</li>

  <li><strong>Developer?</strong> Use .json or .xml extension for a raw data feed.</ol>    
</ul>

<br />
Contact: <%= link_to 'Troy Davis', 'http://twitter.com/troyd' %>.