<div class="toolbar">
  <h1 id="pageTitle"></h1>
  <a id="backButton" class="button" href="#"></a>
</div>

<div id="about" class="panel" title="About">
  <h1>How's This Work?</h1>
  <h2>RubbrNeckr aggregates police, fire, and aid unit dispatch info as soon as it's online, and makes it easy to access wherever and whenever you are.</h2>def h2>


  <h1>What Can I do?</h1>

  <h2>Police car siren going off down the street? Pull out your phone and hit <%= link_to 'rubbrneckr.com', 'http://rubbrneckr.com/' %> to learn what's happening. With iPhones and most Android phones, you'll be instantly located - no need to enter an address.</h2>

  <h2>Stay aware of crime near your house or office. Enter an address, and on the dispatch listing, click the Subscribe to RSS link to read nearby dispatches in your favorite news reader.</h2>

  <h2>Add to Home Screen on iPhones. Go to <%= link_to 'rubbrneckr.com', 'http://rubbrneckr.com/' %> and hit the iPhone's Bookmark (+) button, then "Add to Home Screen." Whenever you're wondering about an emergency dispatch, just hit the giraffe rubbernecking icon: <%= image_tag 'iphone_icon.jpg', :size => '32x32' %></h2>  

  <h2>On the bus and see an arrest in progress?</strong>  Answer your curiosity right there.</h2>
  
  <h2>Developer?</strong> Use .json or .xml extension for a raw data feed.</h2>


  <h1>Contact</h1>
  <h2><%= link_to 'Troy Davis', 'http://twitter.com/troyd' %>.</h2>
</div>